version: '2'

services:

    nginx:
        ports:
            - "80:80"

#    php:
#        links:
#            - maildev

#    nginx_pagespeed:
#        build: docker/nginx_pagespeed
#        volumes_from:
#            - php
#        ports:
#            - "81:80"
#        links:
#            - php
#        environment:
#            - "PAGESPEED_ENABLE=on"

    mysql:
        environment:
            - "MYSQL_USER=symfony"
            - "MYSQL_PASSWORD=symfony"
            - "MYSQL_DATABASE=symfony"

#    maildev:
#        image: djfarrelly/maildev
#        ports:
#            - "1080:80"

#    phpmyadmin:
#        image: phpmyadmin/phpmyadmin:4.6
#        environment:
#            - "MYSQL_ROOT_PASSWORD=root"
#            - "MYSQL_USER=symfony"
#            - "MYSQL_PASSWORD=symfony"
#        links:
#            - mysql:db
#        ports:
#            - "8080:80"
