version: '2.3'

services:

#    php:
#        environment:
#          - "BLACKFIRE_CLIENT_ID=1"
#          - "BLACKFIRE_CLIENT_TOKEN=1"
#          - "BLACKFIRE_SERVER_ID=1"
#          - "BLACKFIRE_SERVER_TOKEN=1"

    nginx:
        ports:
            - "80:80"

#    httpd:
#        ports:
#            - "80:80"

    mysql:
        ports:
            - "3306:3306"
        environment:
          - "MYSQL_ROOT_PASSWORD=root"
          - "MYSQL_USER=project"
          - "MYSQL_PASSWORD=project"
          - "MYSQL_DATABASE=project"

    maildev:
        ports:
            - "1080:80"

#    blackfire:
#        environment:
#          - "BLACKFIRE_CLIENT_ID=1"
#          - "BLACKFIRE_CLIENT_TOKEN=1"
#          - "BLACKFIRE_SERVER_ID=1"
#          - "BLACKFIRE_SERVER_TOKEN=1"

#    phpmyadmin:
#        ports:
#            - "8080:80"
